In [27]:
import matplotlib.pyplot as plt
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

import numpy as np

from datetime import datetime, date, timedelta

import warnings
warnings.filterwarnings('ignore')

```SQL
SELECT day, country_code, publisher, config_name, request_types, SUM(total_request) as requests
FROM `liveramp-eng-pie.ats_metrics.ats_requests_by_publisher`
-- WHERE day <= DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
WHERE day >= DATE_SUB(CURRENT_DATE, INTERVAL 57 DAY)
AND day <= DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY)
AND country_code = 'US'
AND request_types = 'New Envelope'
GROUP BY day, country_code, publisher, config_name, request_types
ORDER BY day, country_code, publisher, request_types
```

### Import our raw data

In [2]:
# Read in data
auth = pd.read_csv('data/auth.csv').rename(columns = {'publisher':'publisher_id'})
auth['day'] = pd.to_datetime(auth['day'])
auth

,day,country_code,publisher_id,config_name,request_types,requests
0,2023-08-14,US,2,Index Envelope Return,New Envelope,16301.00
1,2023-08-14,US,6,NA_US_AMC Networks_ATS,New Envelope,13.00
2,2023-08-14,US,14,Levi9 Envelope Test,New Envelope,8.00
3,2023-08-14,US,23,Rubicon Envelope Test,New Envelope,6.00
4,2023-08-14,US,26,NA_US_Hometalk_ATS,New Envelope,119387.00
...,...,...,...,...,...,...
14185,2023-10-09,US,14034,EU_DE_Azerion_Cartoonize,New Envelope,25.00
14186,2023-10-09,US,14047,APAC_SG_QUIZLY,New Envelope,1010.00
14187,2023-10-09,US,14049,NA_US_WILDSKY_ATS,New Envelope,1.00
14188,2023-10-09,US,14056,NA_US_DESTINAIONXL_ATS,New Envelope,3266.00
14189,2023-10-09,US,14061,na_us_blitz gg_ats,New Envelope,5.00

### Filter for new envelope generations and only those who've been live the last two months

In [3]:
auth_newEnv = auth[auth['request_types'] == 'New Envelope'].reset_index(drop=True)
auth_newEnv.head()

,day,country_code,publisher_id,config_name,request_types,requests
0,2023-08-14,US,2,Index Envelope Return,New Envelope,16301.00
1,2023-08-14,US,6,NA_US_AMC Networks_ATS,New Envelope,13.00
2,2023-08-14,US,14,Levi9 Envelope Test,New Envelope,8.00
3,2023-08-14,US,23,Rubicon Envelope Test,New Envelope,6.00
4,2023-08-14,US,26,NA_US_Hometalk_ATS,New Envelope,119387.00

### Examine the distribution of envelope requests

#### By date

In [4]:
# plt.figure(figsize=(20,4))
# plt.plot(auth_newEnv.groupby('day')['requests'].sum())
# plt.xticks(rotation = 90);

#### By pub

In [5]:
# plt.figure(figsize=(20,4))
# plt.hist(auth_newEnv.groupby('publisher_id')['requests'].sum(), bins=200)
# plt.ticklabel_format(style='plain');

In [6]:
# requests_by_pub = pd.DataFrame(auth_newEnv.groupby('publisher_id')['requests'].sum().rename('total_requests'))
# requests_by_pub['%'] = requests_by_pub['total_requests'].apply(lambda x: 100 * x / requests_by_pub['total_requests'].sum())

# requests_by_pub_std = np.std(requests_by_pub)

In [7]:
# plt.figure(figsize=(20,4))
# plt.hist(requests_by_pub['%'], bins=1000)
# plt.xlim(right=3);

In [8]:
# substantial_pubs = requests_by_pub[requests_by_pub['total_requests'] >= 1000]
# substantial_pubs

In [10]:
auth_newEnv

,day,country_code,publisher_id,config_name,request_types,requests
0,2023-08-14,US,2,Index Envelope Return,New Envelope,16301.00
1,2023-08-14,US,6,NA_US_AMC Networks_ATS,New Envelope,13.00
2,2023-08-14,US,14,Levi9 Envelope Test,New Envelope,8.00
3,2023-08-14,US,23,Rubicon Envelope Test,New Envelope,6.00
4,2023-08-14,US,26,NA_US_Hometalk_ATS,New Envelope,119387.00
...,...,...,...,...,...,...
14185,2023-10-09,US,14034,EU_DE_Azerion_Cartoonize,New Envelope,25.00
14186,2023-10-09,US,14047,APAC_SG_QUIZLY,New Envelope,1010.00
14187,2023-10-09,US,14049,NA_US_WILDSKY_ATS,New Envelope,1.00
14188,2023-10-09,US,14056,NA_US_DESTINAIONXL_ATS,New Envelope,3266.00
14189,2023-10-09,US,14061,na_us_blitz gg_ats,New Envelope,5.00

In [11]:
change_df = pd.DataFrame(columns=['day', 'country_code', 'publisher_id', 'config_name', 'request_types',
       'requests', '1_day_avg_pct_change', '7_day_avg', '7_day_avg_pct_change', '28_day_avg', '28_day_avg_pct_change'])

In [12]:
for i in auth_newEnv['publisher_id'].unique():
    df = auth_newEnv[auth_newEnv['publisher_id'] == i]
    df['1_day_avg_pct_change'] = df['requests'].pct_change()
    df['7_day_avg'] = df['requests'].rolling(7).mean()
    df['7_day_avg_pct_change'] = df['7_day_avg'].pct_change(periods=7)
    df['28_day_avg'] = df['requests'].rolling(28).mean()
    df['28_day_avg_pct_change'] = df['28_day_avg'].pct_change(periods=28)
    change_df = change_df.append(df.iloc[[-1]])

In [13]:
change_df.sort_values(by = ['day', 'requests'], ascending = [False, False], ignore_index=True, inplace=True)
change_df

,day,country_code,publisher_id,config_name,request_types,requests,1_day_avg_pct_change,7_day_avg,7_day_avg_pct_change,28_day_avg,28_day_avg_pct_change
0,2023-10-09,US,13345,NA_US_Tubi_ATS,New Envelope,21518030.00,-0.03,21052859.71,0.04,20173494.54,0.00
1,2023-10-09,US,13254,NA_US_InMobi_ATS,New Envelope,1222025.00,0.03,1360487.86,-0.55,3833416.29,-0.34
2,2023-10-09,US,13731,NA_US_MediaLab_ATS,New Envelope,1162674.00,0.02,1134725.00,0.04,1089185.68,0.10
3,2023-10-09,US,13610,NA_US_Williams Sonoma_ATS4M,New Envelope,1147200.00,2.89,399028.14,0.31,420281.36,-0.17
4,2023-10-09,US,13618,NA_US_Bath And Body Works_ATS4M,New Envelope,1119933.00,0.64,501653.57,-0.12,640559.04,-0.27
...,...,...,...,...,...,...,...,...,...,...,...
355,2023-08-24,US,13989,[demo-test] Rampy Coffee Jason,New Envelope,1.00,-1.00,646.43,NaN,NaN,NaN
356,2023-08-24,US,1414,NA_US_Conde Nast - Glamour_ATS,New Envelope,1.00,0.00,NaN,NaN,NaN,NaN
357,2023-08-22,US,1360,NA_US_Gateway Blend_ATS,New Envelope,4.00,NaN,NaN,NaN,NaN,NaN
358,2023-08-16,US,13917,Anais Test,New Envelope,2.00,NaN,NaN,NaN,NaN,NaN
359,2023-08-15,US,13732,APAC_TW_BusinessToday,New Envelope,2.00,NaN,NaN,NaN,NaN,NaN

In [15]:
# change_df.to_csv('./outputs/change_df.csv', index=False)